{%  extends "base.html" %}

{% block title %}- {{ plemeno.nazev }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='flag-icons-master/css/flag-icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/barvy.css') }}">
{% endblock %}

{% block content %}
     <div class="container mt-5 bg-light p-5 border">
        <h1 class="mb-3">{{ plemeno.nazev }}</h1>
         <section class="pt-3"  >
             {% if plemeno.sk_nazev %}
                <p><span class="flag-icon flag-icon-svk"></span><span> {{ plemeno.sk_nazev }}</span></p>
             {% endif %}
            {% if plemeno.de_nazev %}
                <p><span class="flag-icon flag-icon-deu"></span><span> {{ plemeno.de_nazev }}</span></p>
            {% endif %}
            {% if plemeno.uk_nazev %}
                <p><span class="flag-icon flag-icon-gbr"></span><span> {{ plemeno.uk_nazev }}</span></p>
            {% endif %}
         </section>
         <section class="pt-3">
             <p><strong>Skupina: </strong>{{ plemeno.skupina_r.nazev }}</p>
             <p><strong>Velikost: </strong>{{ plemeno.velikost_r.nazev }}</p>
             <p><strong>Místo původu: </strong>{{ plemeno.misto_puvodu_r.nazev }}</p>
             <p><strong>Číslo kroužku: </strong>{{ plemeno.krouzek}}</p>
         </section>
        <h3 class="pt-3">Stručný popis</h3>
        <p>{{ plemeno.strucny_popis }}</p>

        <hr>
        <h3 class="pt-3">Barevné rázy</h3>
            {% for raz in razy %}
                <div class="d-flex">
                    <div>
                        <div class="color-circle"><div class="color-circle--inner {{ raz[2] }}"></div></div>
                    </div>
                    <p class="p-3"><strong>{{ raz[0] }}: </strong></p>
                </div>
                <ul>
                    {% for kresba in raz[1] %}
                        <li>{{ kresba }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
     </div>



{% endblock %}