{%  extends "base.html" %}

{% block title %}- {{ plemeno.nazev }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='flag-icons-master/css/flag-icon.css') }}">
{% endblock %}

{% block content %}
     <div class="container mt-5 bg-light p-5 border">
        <h1 class="mb-3">{{ plemeno.nazev }}</h1>
         <p><span class="flag-icon flag-icon-svk"></span><span> {{ plemeno.sk_nazev }}</span></p>
         <p><span class="flag-icon flag-icon-deu"></span><span> {{ plemeno.de_nazev }}</span></p>
         <p><span class="flag-icon flag-icon-gbr"></span><span> {{ plemeno.uk_nazev }}</span></p>
        <h3 class="pt-3">Stručný popis</h3>
        <p>{{ plemeno.strucny_popis }}</p>
     </div>



{% endblock %}