{% extends "base.html" %}
{% block title %}- Rozcestník{% endblock %}

{% block content %}
    <div class="container mt-5 bg-light p-5 border">
        <h1 class="mb-3">Rozcestník</h1>
        <section class="pt-3">
            <h2>Plemena</h2>
            <ul>
                <li><a href="{{ url_for('seznam_plemen') }}">Seznam plemen</a></li>
            </ul>
        </section>
        <section class="pt-3">
            <h2>Grafy</h2>
            <ul>
                <li><a href="{{ url_for('graph_count_groups') }}">Počty plemen ve skupinách</a></li>
            </ul>
        </section>
    </div>
{% endblock %}